isra36_n8nAgent.json
{
  "name": "ai_double_check",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "47f2b3b4-12f0-4e9c-82f4-54d2c32b77f0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1824,
        128
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "jsCode": "let promptEnd = '';\nif( $('localVariables').last().json.autoErrorFixing ){\n  promptEnd = '. Please fix SQL query. Please decide how to solve and give fixed SQL query. You should give the fixed version of this current SQL query, that can be copied and run straightforward in SQL sandbox';\n} else {\n  promptEnd = '. Please suggest how we can resolve this error.  At the end of your response, ask: Does it work for us?';\n}\n\nreturn {\n  \"message\"     : $input.last().json.message,\n  \"description\" : $input.last().json.error.description,\n  \"prompt\"      : \"Recieved error while executing this query: \" + $input.last().json.message + \". Here detailed description: \" + $input.last().json.error.description + promptEnd\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5264,
        752
      ],
      "id": "424b2831-425b-4ee7-a3d5-b2713bfdf343",
      "name": "GenerateErrorPrompt"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('localVariables').last().json.sessionId }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        400
      ],
      "id": "07f2f95a-0958-4562-b5c4-1bb6504a02fd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e938b602-e816-4409-9c0b-190eae7952df",
              "leftValue": "={{ $('localVariables').last().json.autoErrorFixing }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        -64
      ],
      "id": "7f42bf3b-5d99-41d4-94e7-0a34da39e285",
      "name": "AutoErrorFixing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3228bc02-986c-4159-bf24-b27336611473",
              "leftValue": "={{ $('GenerateErrorPrompt').isExecuted }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        32
      ],
      "id": "6e1fcee6-2c63-46e3-a48c-458180257b43",
      "name": "IfError"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4288,
        432
      ],
      "id": "4f3fcdf7-fe96-4137-9356-165890ea57d1",
      "name": "Execute_AI_result",
      "credentials": {
        "postgres": {
          "id": "OunYREGTB5g2u3LA",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd96c88f-b4c7-4bb6-9082-b2a827740bea",
              "leftValue": "={{ $json.output }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -464
      ],
      "id": "d4c60f3d-425e-4fef-923c-a2fa154f0a00",
      "name": "isAssistantExists"
    },
    {
      "parameters": {
        "jsCode": "let isAssistantExists = 0;\nlet assistantId = null;\n\nfor (const item of $('getAssistantsList').all()) {\n  let trimmedGetAss = item.json.name ? item.json.name.trim() : '';\n  let trimmedAgentName = $(\"AgentName\").last().json.agentName.trim();\n  if (trimmedGetAss === trimmedAgentName) { \n    isAssistantExists = 1;\n    assistantId = item.json.id;\n  }\n}\n\nreturn {output: isAssistantExists, id: assistantId};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -464
      ],
      "id": "318a17bb-7566-4b2c-bd3f-d6e57daa1b95",
      "name": "isAssistantExistsCode"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fddc112b-8a31-4098-b283-df9d0c7b0acf",
              "leftValue": "={{ $('localVariables').last().json.aiProvider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5488,
        752
      ],
      "id": "ff979107-3937-4feb-aaf3-4ff9337325da",
      "name": "isOpenAI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f6867fd-d7d1-45c5-b01f-960e4ce6c883",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -480
      ],
      "id": "6e2a2dd7-8ca7-4662-9c7d-5c7cab0dd314",
      "name": "assistant"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fddc112b-8a31-4098-b283-df9d0c7b0acf",
              "leftValue": "={{ $json.aiProvider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        128
      ],
      "id": "af7314ea-60db-4873-838d-7a01dffc70ed",
      "name": "IfOpenAI"
    },
    {
      "parameters": {
        "content": "use this to get neccessary local variables, like: instruction to AI, sessionId, and all inputed parameters from previous node\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1536,
        32
      ],
      "id": "db247d1d-8277-475b-98c8-4150326e0dfb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Input parameters:\n1. sessionId: uuidv4\n2. threadId: nullable\n3. apiKey: string\n4. aiProvider: string\n5. model: string\n6. autoErrorFixing: boolean\n7. chatInput: string (users prompt)\n8. currentDbSchemaWithData: string (json architecture with data)\n9. selectedDatabaseType (postgresql, mysql)",
        "height": 460,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        -176
      ],
      "id": "02dbf130-9e82-4d85-b743-2cb488fb0f46",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e35fea46-5373-427b-b3fa-6fab56627bde",
              "leftValue": "={{ $node['GenerateErrorPrompt'].runIndex }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        -320
      ],
      "id": "e10c42db-8c9f-4052-8205-259b53ebdc3f",
      "name": "IsMaxAutoErrorReached"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ],
      "id": "1a3189fd-550e-4b1c-8720-65579fa39c44",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "527cbbeb-e3a7-4fb5-aaae-fd2b8085de85",
              "name": "agentName",
              "value": "={{ $('localVariables').last().json.selectedDatabaseType + '_AiDoubleCheck_' + $('localVariables').last().json.model }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -464
      ],
      "id": "20960f49-d573-45e0-a3e0-f5e181a8ef66",
      "name": "AgentName"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "569f9268-5b51-4fac-9d8b-132de0b77ef0",
              "name": "output",
              "value": "={{ \n$if ( $('localVariables').last().json.aiProvider === 'openai', \n  $('OpenAIMainBrain').last().json.output,\n  $('OpenRouterAgent').last().json.output\n) \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        -208
      ],
      "id": "9f28f786-c999-4614-8d74-e67f945583e2",
      "name": "setOutputByProvider"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $('assistant').last().json.id }}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "={{ \n\n  $if($('GenerateErrorPrompt').isExecuted, \n\n    `## ERROR HANDLING MODE\\n\\n  ${$json.prompt}.`,\n\n    $if($('localVariables').last().json.currentDbSchemaWithData !== '[]', 'Current DB tables: ' + $('localVariables').last().json.currentDbSchemaWithData + '; ',\n'') + $('localVariables').last().json.chatInput + '. Prefix for tables: ' + $('localVariables').last().json.sessionId) \n\n}}",
        "memory": "threadId",
        "threadId": "={{(() => {\n  if ($('GenerateErrorPrompt').isExecuted) {\n    return $('setThreadId').first().json.threadId;\n  }\n  return $ifEmpty($('localVariables').last().json.threadId, null);\n})()}}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        832,
        -480
      ],
      "id": "c1c4bc98-9f7f-459b-9c1e-8ce1de98f24c",
      "name": "OpenAIMainBrain",
      "credentials": {
        "openAiApi": {
          "id": "YYAgs4Xc0ZRuGvPa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "562ef9d0-d7c1-43f3-8ceb-608b6576f4e2",
              "name": "message",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "8ede156c-df3f-4da3-87b2-696457147762",
              "name": "type",
              "value": "autoErrorFixingFalse",
              "type": "string"
            },
            {
              "id": "ed5a54d3-29b1-4034-9a1b-595831f25585",
              "name": "error",
              "value": "={{ $('Execute_AI_result').last().json.message }}",
              "type": "string"
            },
            {
              "id": "20c03d57-09bd-4df7-afb1-286dbc94f19b",
              "name": "threadId",
              "value": "={{ \n$if ( $('localVariables').last().json.aiProvider === 'openai', \n  $('setThreadId').first().json.threadId,\n  null\n) \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3632,
        -16
      ],
      "id": "723fd28e-628e-417a-826c-2fd025a8a026",
      "name": "askUserHowToHandleError"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "562ef9d0-d7c1-43f3-8ceb-608b6576f4e2",
              "name": "query",
              "value": "={{ $('setOutputByProvider').last().json.output }}",
              "type": "string"
            },
            {
              "id": "b9ddb8b4-56ab-4d7e-b3fa-2a72c5158d26",
              "name": "type",
              "value": "maxAutoErrorLimitReached",
              "type": "string"
            },
            {
              "id": "77c2c8a4-c5df-43c3-8803-4317a1e5e71f",
              "name": "details",
              "value": "={{ $('collectErrorLoopDetails1').last().json.details }}",
              "type": "string"
            },
            {
              "id": "82af0703-ecdf-44c1-ba37-466cc23edf70",
              "name": "threadId",
              "value": "={{ \n$if ( $('localVariables').last().json.aiProvider === 'openai', \n  $('setThreadId').first().json.threadId,\n  null\n) \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4560,
        -352
      ],
      "id": "0e4af952-6e07-4cb0-a4ff-6705ed3bbfc0",
      "name": "maxAutoErrorLimitReached"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01f2a48f-2018-483c-a667-3c184ca9b169",
              "leftValue": "={{ $json.error }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -464
      ],
      "id": "43a23e59-31f7-40fb-b911-9e3dd9bad912",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30b2c62f-e7cf-4b8e-85ad-e0d6e4ae5094",
              "name": "type",
              "value": "wordsForUser",
              "type": "string"
            },
            {
              "id": "cca814df-e535-46c6-bd6e-aa780e8cf12e",
              "name": "message",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "678dc066-d419-46d6-9340-1f7a7bb666aa",
              "name": "threadId",
              "value": "={{ \n$if ( $('localVariables').last().json.aiProvider === 'openai', \n  $('setThreadId').first().json.threadId,\n  null\n) \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        32
      ],
      "id": "817ec035-7af7-41dd-b9f6-f51fff4b6c1d",
      "name": "wordsForUser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e52803c5-a6e2-4281-912f-a8c58867b9a8",
              "leftValue": "={{ $json.output }}",
              "rightValue": "words_for_user",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        -176
      ],
      "id": "1347b643-7109-4148-86bd-89b540861b06",
      "name": "isExecutable"
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "list"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -656,
        -464
      ],
      "id": "73bc7418-b260-4c38-bc15-ec3ed50086df",
      "name": "getAssistantsList",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "YYAgs4Xc0ZRuGvPa",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "OpenAI has built-in assistant that handles chat history on their side. For open-router we should handle chat history on our side",
        "height": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        32
      ],
      "id": "84f8b40b-c563-4b28-a70c-c4c5b7323d1b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Sometimes we can't answer with just code. This node is responsible for separation. If it is not a code for sandbox, than it will go to user as words.",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        -304
      ],
      "id": "efca8f7c-1115-4086-9b53-111574a00cee",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Error fixing loop will work only n times, defined in this node. It is done to prevent infinite loop",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3696,
        -416
      ],
      "id": "a793ec0d-97fc-49aa-8c2a-f3746946ed95",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "If the user has selected automatic error fixing, debugging will be performed automatically, otherwise the system will ask the user for further instruction",
        "height": 280,
        "width": 220,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3008,
        -128
      ],
      "id": "d12ff01c-662d-4204-a1a7-1c91b122a5cd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n\n  $if($('GenerateErrorPrompt').isExecuted, \n\n    `## ERROR HANDLING MODE\\n\\n  ${$json.prompt}.`,\n\n    $if($('localVariables').last().json.currentDbSchemaWithData !== '[]', 'Current DB tables: ' + $('localVariables').last().json.currentDbSchemaWithData + '; ',\n'') + $('localVariables').last().json.chatInput + '. Prefix for tables: ' + $('localVariables').last().json.sessionId) \n\n}}",
        "options": {
          "systemMessage": "={{ $('localVariables').last().json.instruction }}"
        }
      },
      "id": "39a21d61-816d-4414-8f0b-d87adda9f350",
      "name": "OpenRouterAgent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1072,
        128
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "={{ $('localVariables').last().json.model }}",
          "mode": "id"
        },
        "name": "={{ $('AgentName').last().json.agentName }} ",
        "description": "will double check code directly in a playground",
        "instructions": "={{ $('localVariables').last().json.instruction }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        352,
        -304
      ],
      "id": "ec49bd8d-05cd-4438-bdb9-864a92580d5e",
      "name": "createOpenAiAssistant",
      "credentials": {
        "openAiApi": {
          "id": "YYAgs4Xc0ZRuGvPa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee9645b-83f9-4f0e-9fd3-4a75121bee9a",
              "name": "instruction",
              "value": "=You are a senior {{ $json['selectedDatabaseType'] }} developer helping users solve {{ $json['selectedDatabaseType'] }} tasks in a {{ $json['selectedDatabaseType'] }} Playground environment. Follow these rules:\n\n1. Your response must always contain fully executable SQL code — with no markdown formatting. Never explain or comment in natural language.\n2. Assume that the first user prompt starts with an empty {{ $json['selectedDatabaseType'] }} Playground. You must begin with `CREATE TABLE` statements to build a realistic schema related to the task. Follow {{ $json['selectedDatabaseType'] }} naming conventions for schema design: each table’s primary key column must be named exactly id. Use plural nouns for table names and use snake_case to separate words. \n3. The user will provide a prefix for tables (e.g., session_abc199935). All table names must begin with that prefix and be enclosed in {{ $if($json['selectedDatabaseType'] == 'postgresql', 'double quotes.  Example: \"session_abc199935_users\"', 'backticks `.  Example: `session_abc199935_users`') }}. IMPORTANT: You must use this prefix exactly as provided — without modification.\n4. After creating tables, always include at least 3 rows of mock data using `INSERT INTO`. \n5. When designing schema and mock data, create diverse examples to demonstrate both positive and negative scenarios relevant to the task.\nFor example, if the user asks to identify which foreign key columns have indexes, include multiple foreign keys — some with indexes and some without — to provide broader, realistic, and testable variety.\nIf tables are related, they always should have standart SQL relation (by id PK and {table_name}_id FK) \n6. Finish each response with the actual query that solves the user’s request. \n7. Always separate the final query from setup using this comment: -- ACTUAL_SOLUTION. Remember use only this comment for separation.\n8. If the task involves inspecting metadata (e.g., checking indexes, foreign keys, constraints), generate mock tables first (if none exist), and then use `information_schema` or similar things to provide introspective queries.\n9. If no SQL can be generated (e.g., conversational input like \"hello\", \"explain\", or messy texts etc.), respond with: words_for_user: followed by a helpful or polite message — but do not generate SQL. IMPORTANT! Use words_for_user only if there is a conversational input! If you will get error handling mode your goal is to fix it.\n\nThe goal is to always output SQL code that users can copy and run directly in a {{ $json['selectedDatabaseType'] }} Playground to verify the result. ",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        128
      ],
      "id": "1caf5dec-7cbd-4cbf-9687-48d4aa33cd35",
      "name": "localVariables"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfc317f9-d9fa-4026-9b2a-1cd4b13b87c6",
              "name": "query",
              "value": "={{ $('setOutputByProvider').last().json.output }}",
              "type": "string"
            },
            {
              "id": "594046d1-9b2d-43cb-9609-04ee4f70364f",
              "name": "type",
              "value": "success",
              "type": "string"
            },
            {
              "id": "c6de1fb5-60a4-4050-a401-973139f42dfb",
              "name": "executionResult",
              "value": "={{ $('mergeExecutionsResult').last().json.mergedExecutionsResult }}",
              "type": "string"
            },
            {
              "id": "28e5e21b-7e05-431d-8e84-446884ff533c",
              "name": "details",
              "value": "={{ $('collectErrorLoopDetails').last().json.details }}",
              "type": "string"
            },
            {
              "id": "1f838390-16ec-4c90-a718-b7bb0d2735ce",
              "name": "threadId",
              "value": "={{ \n$if ( $('localVariables').last().json.aiProvider === 'openai', \n  $('setThreadId').first().json.threadId,\n  null\n) \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5376,
        272
      ],
      "id": "e4025036-da4e-4e6b-ad3e-97c5242aa861",
      "name": "executedSQLQuery"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cbea64a-8820-40df-9e88-f1d3ac5e5d06",
              "name": "type",
              "value": "error",
              "type": "string"
            },
            {
              "id": "d391b90b-79d7-45b4-b9f2-6bc4e45ab2c5",
              "name": "message",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -256
      ],
      "id": "ff239015-892a-4762-8de6-537396e1d1c3",
      "name": "issueOnOpenAiSide"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      mergedExecutionsResult: items.map(item => item.json)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        352
      ],
      "id": "7743696c-4e2d-4195-8832-1624f4861075",
      "name": "mergeExecutionsResult"
    },
    {
      "parameters": {
        "jsCode": "const autoErrorFixing = $('localVariables').last().json.autoErrorFixing;\nconst wasExecuted = $('GenerateErrorPrompt').isExecuted;\n\nif (!autoErrorFixing || !wasExecuted) {\n  return [{ json: { details: { errorLoop: [] } } }];\n}\n\nconst errorLoop = [];\n\nlet counter = 0;\ndo {\n  try {\n    const erroritems = $items(\"GenerateErrorPrompt\", 0, counter).map(erroritem => { return {errorMessage: erroritem.json.message, description: erroritem.json.error?.description} });\n    const outputitems = $items(\"setOutputByProvider\", 0, counter).map(item => { return {output: item.json.output}});\n    errorLoop.push([...outputitems, ...erroritems]);\n  } catch (error) {\n    return [ { json: { details: { errorLoop } } } ];  \n  }\n\n  counter++;\n} while(true);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        224
      ],
      "id": "55302cce-e5ae-4d33-8200-b455e3ca795e",
      "name": "collectErrorLoopDetails"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7c8e1dd-c6bc-49a0-b7cd-8c8cb021f16e",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -480
      ],
      "id": "607ac294-c68c-4599-af02-a9a7fc265de9",
      "name": "setThreadId"
    },
    {
      "parameters": {
        "jsCode": "const autoErrorFixing = $('localVariables').last().json.autoErrorFixing;\nconst wasExecuted = $('GenerateErrorPrompt').isExecuted;\n\nif (!autoErrorFixing || !wasExecuted) {\n  return [{ json: { details: { errorLoop: [] } } }];\n}\n\nconst errorLoop = [];\n\nlet counter = 0;\ndo {\n  try {\n    const erroritems = $items(\"GenerateErrorPrompt\", 0, counter).map(erroritem => { return {errorMessage: erroritem.json.message, description: erroritem.json.error?.description} });\n    const outputitems = $items(\"setOutputByProvider\", 0, counter).map(item => { return {output: item.json.output}});\n    errorLoop.push([...outputitems, ...erroritems]);\n  } catch (error) {\n    return [ { json: { details: { errorLoop } } } ];  \n  }\n\n  counter++;\n} while(true);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        -352
      ],
      "id": "0db968fc-e44c-47df-a85b-97c08f7a3b20",
      "name": "collectErrorLoopDetails1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4304,
        608
      ],
      "id": "2642435e-47db-4009-bc04-6a9014548669",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "4IlPJ0dJN87qeevg",
          "name": "MySQL account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('localVariables').last().json.selectedDatabaseType }}",
                    "rightValue": "postgresql",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a425da8-5077-45db-b316-c6e5fca10983"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "535cc6ab-875f-4a0b-a89a-a4792cc2dc30",
                    "leftValue": "={{ $('localVariables').last().json.selectedDatabaseType }}",
                    "rightValue": "mysql",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3984,
        384
      ],
      "id": "ab334954-c05c-403f-a688-aaa1824f47ea",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "localVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateErrorPrompt": {
      "main": [
        [
          {
            "node": "isOpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenRouterAgent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AutoErrorFixing": {
      "main": [
        [
          {
            "node": "IsMaxAutoErrorReached",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "askUserHowToHandleError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfError": {
      "main": [
        [
          {
            "node": "AutoErrorFixing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute_AI_result": {
      "main": [
        [
          {
            "node": "mergeExecutionsResult",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GenerateErrorPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isAssistantExists": {
      "main": [
        [
          {
            "node": "assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "createOpenAiAssistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isAssistantExistsCode": {
      "main": [
        [
          {
            "node": "isAssistantExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isOpenAI": {
      "main": [
        [
          {
            "node": "OpenAIMainBrain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouterAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assistant": {
      "main": [
        [
          {
            "node": "OpenAIMainBrain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfOpenAI": {
      "main": [
        [
          {
            "node": "AgentName",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouterAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsMaxAutoErrorReached": {
      "main": [
        [
          {
            "node": "collectErrorLoopDetails1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenRouterAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AgentName": {
      "main": [
        [
          {
            "node": "getAssistantsList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setOutputByProvider": {
      "main": [
        [
          {
            "node": "IfError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAIMainBrain": {
      "main": [
        [
          {
            "node": "setThreadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "isAssistantExistsCode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "issueOnOpenAiSide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isExecutable": {
      "main": [
        [
          {
            "node": "setOutputByProvider",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wordsForUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAssistantsList": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenRouterAgent": {
      "main": [
        [
          {
            "node": "isExecutable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createOpenAiAssistant": {
      "main": [
        [
          {
            "node": "assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "localVariables": {
      "main": [
        [
          {
            "node": "IfOpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "executedSQLQuery": {
      "main": [
        []
      ]
    },
    "mergeExecutionsResult": {
      "main": [
        [
          {
            "node": "collectErrorLoopDetails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maxAutoErrorLimitReached": {
      "main": [
        []
      ]
    },
    "collectErrorLoopDetails": {
      "main": [
        [
          {
            "node": "executedSQLQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setThreadId": {
      "main": [
        [
          {
            "node": "isExecutable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "collectErrorLoopDetails1": {
      "main": [
        [
          {
            "node": "maxAutoErrorLimitReached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute_AI_result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "mergeExecutionsResult",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GenerateErrorPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BLUvEJjOxACvh7gM"
  },
  "versionId": "742ecb68-9a9f-4a88-899c-7f6c2a197be0",
  "meta": {
    "instanceId": "90a1d1cf1e9e6d9ee6e8c37df44d53777d9bc4425de96a5a0f770320161d5171"
  },
  "id": "H6iWWu9KK0XoaPXa",
  "tags": []
}
